.explore {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.explore_content {
  width: 550px;
  text-align: center;
  color: white;

  @media (max-width: 640px) {
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 13px;
    }
    width: 95%;
  }
  /* background-color: red; */
}
.search {
  background: white;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  input {
    border: none;
    width: 120px;
  }
}
.size_absolut {
  height: 665px;
  @media (max-width: 960px) {
    height: 500px;
  }
  @media (max-width: 640px) {
    height: 465px;
  }
}
.content {
  height: 720px;
  position: absolute;
  width: 100%;
  top: 0px;
  @media (max-width: 960px) {
    height: 550px;
  }
  @media (max-width: 640px) {
    height: 520px;
  }
}
.card {
  padding: 0px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  @media (max-width: 960px) {
    justify-content: center;
    padding: 0px 80px;
  }
  @media (max-width: 640px) {
    padding: 0px 20px;
    justify-content: center;
  }
}
.card_content {
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  width: 390px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 8px 5px rgba(168, 167, 171, 0.5);
  @media (max-width: 960px) {
    width: 700px;
  }
}
.content_testimont {
  width: 390px;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: #43b97f;
  }
  div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
}
