h1,
h2,
h3,
h4,
h5,
h6 p {
  margin: 0px;
}
.tour {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 40px 150px;
  max-width: 100%;
  div {
    width: 350px;
  }
  /* Ukuran layar Hp */
  @media (max-width: 767px) {
    padding: 40px 80px;
  }
  /* Ukuran layar tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 40px 95px;
    div {
      width: 355px;
    }
  }

  h3 {
    margin: 10px 0px;
  }
  p {
    line-height: 23px;
    font-family: "poppints";
    font-size: 18px;
  }
  button {
    background-color: #43b97f;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    width: 119px;
    height: 39px;
    margin-top: 15px;
    cursor: pointer;
  }
}
.visit {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 150px;
  justify-content: space-between;
  /* Ukuran layar Hp */
  @media (max-width: 767px) {
    padding: 40px 80px;
  }
  /* Ukuran layar tablet */
  @media (min-width: 768px) and (max-width: 1029px) {
    padding: 40px 95px;
  }
}
.card {
  position: relative;
  width: 350px;
  &:hover {
    transform: scale(1.1);
  }
}

.desc_card {
  position: absolute;
  top: 40px;
  left: 30px;
  color: white;
  line-height: 25px;
  button {
    background: none;
    border: 1px solid #43b97f;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    width: 119px;
    height: 39px;
    margin-top: 15px;
    cursor: pointer;
  }
}
.our_service {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 150px 130px 150px;
  gap: 25px;
  max-width: 100%;
  justify-content: space-between;

  @media (max-width: 767px) {
    padding: 40px 80px;
  }
  /* Ukuran layar tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 40px 95px;
  }
}
.card_service {
  width: 480px;
  display: flex;
  gap: 10px;
  @media (min-width: 768px) and (max-width: 1284px) {
    width: 352px;
  }
  button {
    background-color: #43b97f;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    width: 119px;
    height: 39px;
    margin-top: 20px;
    cursor: pointer;
  }
}
.latest {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
 
  gap: 20px;
  justify-content: space-between;
  @media (max-width: 919px) {
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }
}
.card_left {
  width: 50%;
  margin-left: 150px;
  line-height: 24px;
  p {
    margin: 15px 0px;
    font-size: 18px;
    font-family: "poppints";
  }
  @media (min-width: 920px) and (max-width: 1029px) {
    background-color: red;
    margin-left: 95px;
  }
  @media (max-width: 919px) {
    background-color: navy;
    margin-left: 0px;
    width: 100%;
   
   p{
    overflow: hidden;
    text-overflow: ellipsis; 
    line-height: 1em;
    max-height: 6.1em; 
   }
    
  }
  /* @media (min-width: 921px) and (max-width: 1029px) {
    max-width: 45%;

    margin-left: 90px;
  }
  @media (max-width: 920px) {
    margin-left: 80px;
    padding-top: 50px;
    p {
      width: 70%;
      margin: 5px 0px;
      font-size: 14px;
    }
  } */
  button {
    background: none;
    border: 1px solid #43b97f;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    width: 119px;
    height: 39px;
    cursor: pointer;
  }
}

.card_right {

  width: 50%;
  margin-right: 150px;
  @media (min-width: 920px) and (max-width: 1029px) {
    margin-right: 95px;
  }
  @media (max-width: 919px) {
    margin-right: 0px;
    width: 100%;
  
  }
}
.desc_right {
  color: black;
  border-radius: 15px;
  width: 190px;
  height: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  @media (max-width:559px) {
    gap: 5px;
    flex-direction: row;
    h1 {
      font-size: 22px;
    }
    justify-content: center;
    width: 100%;
    height: 2%;
  }
}
