p,
h3,
h6 {
  margin: 0px;
}
.card {
  margin-bottom: 50px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
}
.content_chose {
  margin-top: 30px;
  width: 100%;
  max-width: 30%;
  text-align: center;
  p {
    font-size: 18px;
  }
  h6 {
    font-size: 22px;
  }
  span {
    font-size: 120px;
    color: #43b97f;
  }
}
.about {
  width: 100%;
  max-width: 69%;
}
.about_picture {
  margin-top: 50px;
  width: 100%;
  max-width: 30%;
  img {
    height: 400px;
    width: 100%;
  }
}
.our_teams {
  padding: 40px 80px;
}
.teams {
  width: 100%;
  max-width: 18%;
  line-height: 37px;
  img {
    width: 100%;
  }
}
.footer {
  width: 100%;
  max-width: 24%;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #a8a7ab;
  span {
    font-size: 120px;
  }
}
@media screen and (min-device-width: 601px) and (max-device-width: 1024px) {
  .footer {
    span {
      font-size: 100px;
    }
    p {
      font-size: 15px;
    }
  }
  .card {
    padding: 0px 30px;
  }
  .content_chose {
    p {
      font-size: 14px;
    }
    h6 {
      font-size: 16px;
    }
    span {
      font-size: 65px;
    }
  }
  .about {
    overflow: hidden;
    max-height: 150px;
  }
  .about_picture {
    img {
      height: 300px;
    }
  }
  .our_teams {
    padding: 30px 30px;
  }
  .teams {
    max-width: 24%;
    p {
      font-size: 14px;
    }
  }
}

@media (max-device-width: 600px) {
  .card {
    padding: 0px 30px;
  }
  .content_chose {
    p {
      font-size: 12.4px;
    }
    h6 {
      font-size: 10.9px;
    }
    span {
      font-size: 45px;
    }
  }
  .about {
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    overflow: hidden;
  }
  .about_picture {
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    img {
      height: 300px;
      width: 100%;
    }
  }
  .our_teams {
    padding: 20px 30px;
  }
  .teams {
    max-width: 19%;
    line-height: 20px;
    h6 {
      font-size: 9px;
    }
    p {
      font-size: 7.1px;
    }
  }
  .footer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    span {
      font-size: 60px;
    }
    p {
      font-size: 9px;
    }
  }
}
