.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
  position: relative;
  z-index: 99999;
}
.cltrue {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: #43b97f;
  }
}
.clfalse {
  text-decoration: none;
  color: black;
  font-weight: bold;
  &:hover {
    color: #43b97f;
  }
}
.modal_right {
  background-color: transparent;
  padding-right: 200px;
  margin-top: 40px;
  /* position: fixed; */
  /* top: 30px;
  right: 10px; */
  transform: translateX(54%);
  /* transition: transform 0.3s ease-out; */
}
